<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="img-rounded img-responsive">
              <%= avatar_for @user %>
            </div>
          </div>
          <div class="col-sm-6 col-md-8">
            <h4><%= @user.name %></h4>
            <p>
              <i class="glyphicon glyphicon-envelope"></i> <%= @user.email %>
              <br />
              <i class="glyphicon glyphicon-gift"></i><%= @user.dob %>
            </p>
            <% if current_user? @user %>
            <button type="button" class="btn btn-info"
              data-toggle="modal" data-target="#myModal-<%= @user.id %>">
              <%= t ".edit" %></button>
            <% end %>
            <div class="modal fade" id="myModal-<%= @user.id %>" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><%= t ".hello" %>, <%= @user.name %></h4>
                  </div>
                  <div class="modal-body">
                    <%= render "edit" %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "users.edit.close"%></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#myPost">
      <%= t "shared.index.my_post_list" %></a></li>
    <li><a data-toggle="tab" href="#myBooking"><%= t ".my_booking" %></a></li>
  </ul>
  <div class="tab-content">
    <div id="myPost" class="tab-pane fade in active"></br>
      <%= link_to t(".create_new_post"), new_post_review_path(@user),
        class: "btn btn-info" %>
      <%= render "shared/index" %>

    </div>
    <div id="myBooking" class="tab-pane fade"></br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t ".film_name" %></th>
            <th><%= t ".day_watching" %></th>
            <th><%= t ".time" %></th>
            <th><%= t ".quantity" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "shared/booking", collection: @bookings %>
        </tbody>
        <%= will_paginate @bookings %>
      </table>
    </div>
  </div>
</div>
