<tr id ="booking-<%= booking.id %>">
  <td><%= booking.watching_time.watching_day.film.name %></td>
  <td><%= booking.watching_time.watching_day.day_watching %></td>
  <td><%= booking.watching_time.time.to_formatted_s :time %></td>
  <td><%= booking.quantity %></td>
  <td><%#= link_to t(".cancellation"), booking_path(booking), method: :delete, data: {confirm: t(".you_sure")} %>
    <%= link_to t(".cancellation"), "#", data: {confirm: t(".you_sure")}, class: "cancellation-booking", id: booking.id %>
  </td>
</tr>
