<div class="container">
  <div class="row">
    <div class="col-sm-12 slide">
      <div id="myCarousel1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel1" data-slide-to="1"></li>
          <li data-target="#myCarousel1" data-slide-to="2"></li>
        </ol>
        <% if @films.present? %>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= link_to film_path(@films[0]) do %>
                <%=  image_tag "thor3.jpg" %>
                <div class="carousel-caption">
                  <h3><%= @films[0].name %> </h3>
                </div>
              <% end %>
            </div>
            <div class="item">
              <%= link_to film_path(@films[1]) do %>
                <%=  image_tag "Riverdale-Series-660x372.png" %>
                <div class="carousel-caption">
                  <h3><%= @films[1].name %></h3>
                </div>
              <% end %>
            </div>
              <div class="item">
                <%= link_to film_path(@films[2]) do %>
                  <%=  image_tag "F4-Index-660x372.jpg" %>
                  <div class="carousel-caption">
                    <h3><%= @films[2].name %></h3>
                  </div>
                <% end %>
              </div>
          </div>
        <% end %>
        <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row top_movie_post">
    <div class="col-sm-4">
      <h1><%= t".top_movie" %></h1><br/>
      <table>
        <% i=0 %>
        <% @movie_title.each do |movie| %>
          <tr>
            <td width="10%"><%= i+=1 %></td>
            <td><%= movie.text %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <% if @hot_posts.present? %>
      <div class="col-md-8 hot_post">
        <span><%= t "pages.home.hot_post" %></span>
        <ul class="all_host_post">
          <% @hot_posts.each do |hot| %>
            <li class="col-sm-4">
              <%= link_to post_review_path(hot) do %>
                <div class="well">
                  <div class="thumbnail">
                    <%= image_tag hot.image %>
                  </div>
                  <div class="caption">
                      <h4><%= hot.title %></h4>
                      <p><%= hot.content.truncate(Settings.post.describe_maximum, separator: " ") %></p>
                      <h3><span class="glyphicon glyphicon-thumbs-up" id="create-like" ><%= hot.likes.count %></span></h3>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<%= render "slider" %>
