<tr>
  <td><%= link_to film.name, admin_film_path(film) %></td>
  <td><%= film.play_time %></td>
  <td><%= film.imdb_rate %></td>
  <td>
    <% status = (Film::FILM_STATUS).invert %>
    <%= t("admin.films.edit." + status[film.status.to_s].to_s) %>
  </td>
  <td><%= film.avg_rate %></td>
  <td>
    <%= link_to t(".edit_film"), edit_admin_film_path(film) %>
  </td>
  <td>
    <%= link_to t(".delete"), admin_film_path(film), method: :delete, data: {confirm: t(".you_sure")} %>
  </td>
</tr>
