<div class="row">
  <h2 class="sub-header"><%= t ".film_list" %></h2>
  <%= link_to t(".create_new_film"), new_admin_film_path, class: "btn btn-info"%>
  <br/><br/>
  <%= link_to admin_films_path(format: "xls") do %>
  <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp
    <%= t "export.export_excel" %>
  <% end %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t ".name" %></th>
          <th><%= t ".play_time" %></th>
          <th><%= t ".imdb_rate" %></th>
          <th><%= t ".status" %></th>
          <th><%= t ".avg_rate" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "film", collection: @films %>
      </tbody>
    </table>
    <%= will_paginate @films %>
  </div>
</div>
