<div class="row well">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-1">
        <h1><i class="fa fa-film" aria-hidden="true"></i></h1>
      </div>
      <div class="col-md-10 align-text-film">
        <h1><%= @film.name %></h1>
      </div>
    </div>
    <%= raw @film.link_trailer %></br></br>
    <b><%= t "films.show.play_time" %>:</b>
    <%= @film.play_time %>&nbsp<%= t "films.show.minutes" %><br/><br/>
    <b><%= t "films.show.categories" %>:</b>
    <% @film.categories.each do |category| %>
      <span class= "tag label label-info"><%= category.content %></span>
    <% end %>
    <br/><br/>
    <b><%= t "films.show.describe" %>:</b>
    <p><%= @film.describe.truncate(Settings.film.describe_minimum,
      separator: " ") %></p>
  </div>
</div>
<div class="row set-border">
  <div class="col-md-3 ">
    <%= image_tag @film.image %>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6 well align-items-center">
        <h4><%= t "films.show.imdb_rates" %></h4>
        <%= image_tag "IMDB_Logo.png", class: "imdb-logo" %>
        <h4><%= @film.imdb_rate %>&nbsp/&nbsp10&nbsp
          <span class="star-color fa fa-star"></span></h4>
      </div>
      <div class="col-md-6 well align-items-center">
        <h4><%= t "films.show.audience_score" %></h4>
        <%= image_tag "popcorn.png", class: "popcorn-logo" %>
        <h4>
          <span class="avg_rate_change">
          <%= number_with_precision(@film.avg_rate, precision: 1) %>
          </span>&nbsp/&nbsp10&nbsp
          <span class="star-color fa fa-star"></span>
        </h4>
      </div>
      <b><%= t "films.show.watching_day" %>:</b><br/><br/>
      <% @film.watching_days.each do |watching_day| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion"
                href="#collapse<%= watching_day.id%>"><%= watching_day.day_watching %></a>
            </h4>
          </div>
          <div id="collapse<%= watching_day.id%>" class="panel-collapse collapse">
            <div class="panel-body">
              <% watching_day.watching_times.each do |watching_time|%>
                <button type="button" class="btn btn-info fix-css-button"
                  data-toggle="modal" data-target="#myModal<%= watching_time.id %>">
                  <%= watching_time.time.to_formatted_s(:time) %>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
