<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row well">
        <tr>
          <td><h1><%= raw @post.title %></h1></td>
          <div class = "button-like" id= "<%= @like.present? ? @like.id : 0 %>">
            <%= render "likes/like" %>
            <%= render "likes/unlike" %>
          </div>
          <br/>
          <%= render "shared/share_facebook_button" %>
          <td><i><%= t "post_reviews.index.time" %>
          <%= @post.updated_at.strftime("%d-%m-%Y") %>&nbsp</i></td>
          <br/><br/>
          <td><%= raw @post.content %></td>
        </tr>
        <br/>
      </div>
      <div class="row fix-style-comments-section">
        <div class="row well">
          <%= render "comment/form" %>
        </div>
        <div class ="header-comment">
          <%= render partial: 'comment/comment', locals:{comments: @comments} %>
        </div>
      </div>
    </div>
  </div>
</div>
