<div class="row">
  <div class="col">
    <h1>Films</h1>
    <% @films.each do |film| %>
    <div class="row set-border">
        <div class="col-md-4 col-remove-padding-left">
      <%= image_tag film.image %>
      </div>
      <p><%= link_to film.name, film_path(film) %></p>
      <p><%= film.describe.truncate(Settings.film.describe_minimum,
          separator: " ") %></p>
      </div>
    <% end %>
  </div>
  <div class="col">
    <h1>Posts</h1>
    <% @posts.each do |post| %>
      <div class="row set-border">
        <div class="col-md-4 col-remove-padding-left">
          <%= image_tag post.image %>
        </div>
        <p><%= link_to post.title, post_review_path(post) %></p>
      </div>
    <% end %>
  </div>
</div>
<p><%= link_to t("layouts.search.request"), new_request_path %></p>
