<div class="container">
  <ul>
    <% if @search_films %>
      <% @search_films.each do |film| %>
        <div class="row">
          <li class="col-md-3">
            <%= image_tag film.image %>
          </li>
          <li class="col-md-9">
            <%= film.name %></br>
            <%= film.describe %>
          </li>
        </div>
      <% end %>
    <% end %>
    <% if @search_categories %>
      <% @search_categories.each do |category| %>
        <div class="row">
          <li class="col-md-3">
            <%= image_tag category.film.image %>
          </li>
          <li class="col-md-9">
            <%= category.film.name %></br>
            <%= category.film.describe %>
          </li>
        </div>
      <% end %>
    <% end %>

    <% if @search_posts %>
      <% @search_posts.each do |post| %>
        <%= raw post.title %>
        <%= raw post.content.truncate(250, separator: " ") %>
      <% end %>
    <% end %>
  </ul>
</div>
