<!DOCTYPE html>
<html>
  <head>
    <title>MovieReviewing</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <% if current_user.nil? || !current_user.admin? %>
      <%= render "layouts/header" %>
    <% else %>
      <%= render "layouts/admin_header" %>
    <% end %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
